<div class="row">
	<div class="span12">
		
		<h3>
			<%=link_to "Import #{@user.provider} contacts", "/contacts/gmail" if @user == current_user%>
		</h3>	
		
		<p>
			<b>Name:</b>
			<%= @user.name %>
		</p>

		<p>
			<b>Email:</b>
			<%= @user.email %>
		</p>

		<p>
			<b>Provider:</b>
			<%= @user.provider %>
		</p>


		
		<p>
			<%=link_to "Show #{@user.provider} contacts", user_contacts_path(@user) if @user == current_user%>
		</p>
			
	</div>
	
</div>	

