<div class="row">
	<div class="span6">
		<p>
			<b>Name:</b>
			<%= @user.name %>
		</p>

		<p>
			<b>Email:</b>
			<%= @user.email %>
		</p>

		<p>
			<b>Provider:</b>
			<%= @user.provider %>
		</p>

		<p>
			<%=link_to "Get #{@user.provider} contacts", "/contacts/gmail" if @user == current_user%>
		</p>	
			
	</div>	
	
	<div class="span6">
		<%= render :partial => "contacts"%>
	</div>
	
</div>	

