<h3><strong>Listing <%=link_to "#{current_user.name}'s", current_user%> contacts</strong></h3>
<strong><%=link_to "Back to profile", current_user%></strong>

<hr>

<div class="row">
	<div class="span12">
		<%= page_entries_info @contacts %>
		<%= will_paginate @contacts, :class=>"pull-right"%>
	</div>	
</div>	


<table class="table table-condensed">
  <tr>
    <th>Name</th>
    <th>Email</th>
  </tr>

<% @contacts.each do |contact| %>
  <tr>
    <td><%= contact.name %></td>
    <td><%= mail_to contact.email %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @contacts, :class=>"pagination pagination-right"%>


