<!DOCTYPE html>
<html>
<head>
	<title>Link</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="span6 offset3 flash_container">
				<div class="flash_messages"><center><%= render :partial => "shared/flash_messages" %></center></div>
			</div>
		</div>
	
		<div class="row">
			<div class="span12">
				<%= yield %>
			</div>
		</div>
	</div>
</body>
</html>
